<html>
  <head>
  </head>
  <body>
    Plate: {{ plate.license }}<br>
    Score: {{ plate.score }}<br>
    <table>
      <tr>
        <td>Score</td>
        <td>Time</td>
        <td>Location</td>
        <td>Message</td>
        <td>Plate</td>
      </tr>
    {% for karma in karmas %}
      <tr>
        <td>{{ karma.karmaVal }}</td>
        <td>{{ karma.time }}</td>
        <td>{{ karma.location }}</td>
        <td>{{ karma.message }}</td>
        <td>{{ karma.license }}</td>
      </tr>
    {% endfor %}
  </body>
</html>
